@model _01_DAL.Fatura

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Fatura</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEmpregado" class="control-label"></label>
                <input asp-for="IdEmpregado" class="form-control" />
                <span asp-validation-for="IdEmpregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroFatura" class="control-label"></label>
                <input asp-for="NumeroFatura" class="form-control" />
                <span asp-validation-for="NumeroFatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
